p{
    font-size: 20px;
}

div{
    background-color:gray;
    color: purple;
    display: inline-block;
}

#noPadding{
    padding: 0;
}

 #padding{
     padding:  50px;
}

#topPadding{
    padding-top: 50px;
}

#leftPadding{
    padding-left: 50px;
}

#bottomPadding{
    padding-bottom: 50px;
}

#rightPadding{
    padding-right: 50px;
    
}
 
#dottedBorder{
    border: 2px dotted yellowgreen;
}

#dashedBorder{
    border: 5px dashed purple;
}


#solidBorder{
    border: 5px solid blue;
}

#doubleBorder{
    border: 4px double black;
}

#groveBorder{
    border: 5px groove red;
}


#ridgeBorder{
    border: 5px ridge purple;
}


#insetBorder{
    border: 10px inset red;
}

#outsetBorder{
    border: 10px outset rebeccapurple;
}



/* order is always TOP RIGHT BOTTOM LEFT */

 #mixedPadding{
  padding: 10px 40px 100px 20px;
  border-color: chartreuse;
  border-style: groove outset inset ridge
}

.row1{
    width: 33%;
    border: 2px solid black;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.row2{
    width: 33%;
    border: 2px solid black;
    margin-top: 20px
}

#center{
    display: block;
    width: 25%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 50px;
}

#perLeftMargin{
    height: 200px;
    width: 35%;
    margin-left: 10%;
    margin-right: 10%;
}


#perRightMargin{
    height: 200px;
    width: 35%;
}



.defaultPadding{

    padding: 10px;

}


.defaultMargin{

    margin: 0px 30px;

}

.defaultBorder{

    border: 3px ridge fuchsia; 
}





section h3{
    font-size: 42px;
}

section header h3{
    font-size: 30px;
}


section article p{
    color: goldenrod

}

